body{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(241deg,#005384,#0094c6,#005e7c,#107be5);
    background-size: 240% 240%;
    animation: gradient-animation 16s ease infinite;
    color: white !important;
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
h2{
    color: red;
}
.emoji-geant {
    font-size: 5rem; /* Taille de police agrandie */
    display: inline-block; /* Pour que le texte ne se casse pas à la ligne */
}